<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tập viết</ion-title>
    <ion-buttons slot="end">

      <ion-button title="Đọc" fill="outline" color="primary" (click)="toggle()">
        <ion-icon [name]="isPause?'pause-circle-outline':'caret-forward-outline'"></ion-icon>
        {{repeatCount}}, {{time}}
      </ion-button>

      <ion-button title="Đọc" fill="outline" color="primary" (click)="setting()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-textarea 
        class="text" 
        label="Đoạn văn" 
        labelPlacement="floating" 
        fill="outline" 
        autoGrow="true" 
        rows="10"
        [(ngModel)]="text"
        (ionChange)="updateText()"
      >
    </ion-textarea>
  </ion-list>
  <ion-chip *ngFor="let txt of readStrs;let p=index" [color]="p===pos?'primary':''" (click)="changePos(p)">
    <ion-label>{{txt}}</ion-label>
  </ion-chip>

</ion-content>
