<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Toán 1</ion-title>
    <ion-buttons slot="end">

      <ion-button title="chơi lại" (click)="start()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>

      <ion-button title="Chấm điểm" (click)="makePoint()">
        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
      </ion-button>

      <ion-button title="Cài đặt" (click)="setting()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col 
        size-xs="12" 
        size-sm="6" 
        size-md="4" 
        size-lg="3" 
        class="row" 
        *ngFor="let view of views;let pv=index"
        >
          <ion-item lines="none">
            <div class="mark">{{pv+1}}</div>
            {{view.before}}
            <input class="ip" type="number" min="0" maxlength="2" [(ngModel)]="view.answer" [ngClass]="{'wrong':view.checked}"/>
            {{view.after}}
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
