<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size-sm="12" *ngFor="let game of games">
        <ion-item (click)="detail(game)">
          <ion-thumbnail slot="start">
            <img [src]='"../../../assets/png/"+game.image' title="game.name">
          </ion-thumbnail>
          <ion-label>
            {{game.name}}
            <p>{{game.note}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
