.no_word {
    height: 50px;
    width: 80%;
    text-align: center;
    border: dotted 0.2px;
    margin: 12px auto;
    padding: 12px;
    border-radius: 7px;
}

ion-card{
    padding-bottom: 32px;
}