<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="menu"></ion-back-button> -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Đoán chữ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let data of views" (click)="check(data)">
        <div class="card" [ngStyle]="{'color':data.color}">
          <div class="content">{{data.n}}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
