<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Tìm chữ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let data of views;let p=index">
          <div class="card">
            <div class="content" (click)="check(data)" [ngClass]="{'checked':data.check}">
              {{data.n}}
            </div>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
