@font-face {
    font-family: handwritten1;
    src: url('../../../assets/font/HP0014HN.ttf');
}

.card{
    margin: 5px auto;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: handwritten1;
    width: 70px;
    height: 100px;
}

.content{
    text-align: center
}

.checked{
    color: rgba(0,0,0, 0.2);
}