<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="menu"></ion-back-button> -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tìm chữ</ion-title>
    <ion-buttons slot="end">
      <ion-button title="lựa chọn" (click)="filter()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let data of views;let p=index">
          <div class="card" [ngStyle]="{'color':data.color}">
            <div class="content" (click)="check(data)" [ngClass]="{'checked':data.check}">
              {{data.n}}
            </div>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
