.speech-wrapper {
  margin: 50px;
} 

ion-select {
  border-radius: 10px;
  border: 1px solid rgba(225, 225, 225, 1);
  padding: 20px;
  margin-bottom: 25px;
  margin-top: 15px;
}

ion-textarea {
  border: 1px solid rgba(225, 225, 225, 1);
}